.maincontainer {
    margin-top: 3rem;
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px 30px 10px 30px;

}

.left {
    /* margin-top: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left>:nth-of-type(1) {
    font-size: 3rem;
    font-weight: 900;
    font-family: 'Lilita One', sans-serif;



}

.left p>span {
    /* color: rgb(232, 108, 55); */
    color: var(--blue-color);
}



.left>:nth-of-type(2) {
    font-size: 3rem;
    font-weight: 900;
    margin-top: 2px;
}

.content {
    font-weight: 300 !important;
    font-size: 14px !important;
    margin-top: 3px;
    color: rgb(134, 130, 130);
    word-break: break-word;
}


.workwithus {

    margin-top: 3px;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 40px;
    /* background:  rgb(232, 108, 55); */
    background: var(--blue-color);
    ;
    color: #fff;
    height: 3rem;
    width: 14rem;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;


}

.workwithus:hover {
    background-color: black;
}





.right {
    background-color: aqua;
}

@media screen and (max-width:400px) {
    .left>:nth-of-type(1) {
        font-size: 2.1rem;
        font-weight: 900;
        font-family: 'Lilita One', sans-serif;



    }
}