.courseDetail {
    width: 100%;
    height: 100%;
}

.banner-img {
    width: 100%;
    height: 100%;
}
.banner-img1{
    display: none;
}

.details {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* Divide the grid into 12 equal parts */
    gap: 20px;
    /* Add gap between grid items */
    padding: 45px;
 

}

.grid-item {
    padding: 20px;
 
}

.details-left {
    grid-column: span 8;
  

}

.details-right {
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    gap: 20px;
 

}

.card-course-img {
    width: 100%;
    height: 100%;
}

.price {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 500;
    font-family: "Lilita One", sans-serif;
  

}


.course-include {
    margin-left: 20px;
}

.course-include>p {
    font-size: large;
    font-weight: 700;
    margin-bottom: 10px;
}

.course-include-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    margin-bottom: 5px;
}

.txt {
    font-size: 12px;
    cursor: pointer;
}

.txt-icon {
    /* font-size: 12px; */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}

.learn-details {
    width: 100%;
    height: 200px;
    /* border: 1px solid  rgb(78, 76, 76); */
    display: flex;
    flex-direction: column;

}
.learn-title{
    margin-top: 20px ; 
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
}
.list>li{
    list-style: none;
    color:  rgb(78, 76, 76);;
   
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.list-icon{
    margin-right: 10px;
    font-size: 20px;
    align-items: center;
    word-break: break-word;
}

.coding-exercise{
    margin-top: 20px;
}
.coding{
    width: 100%;
    height: 250px;
}
.coding-content{
    display: flex;
   margin-top: 10px;
    flex-direction: row;
    gap: 10px;
}
.coding-content>span{
    color:  rgb(78, 76, 76);
    font-size: 18px;
    word-break: break-word;
}
.course-button{
    width: 200px;
    height: 70px;
    font-weight: 700;
    border: none;
    border-radius: 40px;
    background: var(--blue-color);
    color: #fff;

    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}
.course-button:hover {
    background-color: black;
  }

@media screen and (max-width:768px) {
    .details {

        grid-template-columns: 1fr;
        /* Divide the grid into 12 equal parts */
        justify-content: center;
        /* Center horizontally */
        align-items: center;
        flex-direction: column-reverse;
        padding: 20px;
      
    }

    .details-right {
        order: -1; 
        grid-column: span 12;
    }

    .details-left {
        grid-column: span 12;

    }
    .coding-content{
       flex-direction: column;
       gap: 30px;
    }
    .coding-exercise{
        margin-top: 40px;
    }
    .banner-img{
        display: none;
      }
      .course-button{
        height: 40px;
      }
      .learn-details{
        margin-bottom: 50px;
    }
    .banner-img1{
        display: block;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width:500px){
    .coding-exercise{
        margin-top: 70px;
    }
    .learn-details{
        margin-bottom: 150px;
    }
}